.category-list-container {
    padding: 20px 0px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.button-add-category {
    margin: 20px;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 80px;
    text-align: center;
}

mat-spinner {
    margin: 20px auto;
}